body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.netflix-logo {
    height: 15rem;
    width: 3rem;
    border-left: 3rem solid #e50914;
    border-right: 3rem solid #e50914;
}

.netflix-logo:before {
    display: block;
    height: 100%;
    width: 100%;
    content: " ";
    background: #e50914;
    transform: skewX(21.5deg);
    box-shadow: 0 0 30px black;
}